<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DashboardDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DashboardDesigner.Properties.Settings>
      <setting name="Set_Runtime_PlotInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Set_Runtime_AutoMaximize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Set_Runtime_AutoFullscreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Set_Startup_AutoOpenFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="Set_Startup_AutoActivate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Set_FBStorage_Path" serializeAs="String">
        <value/>
      </setting>
      <setting name="Set_FBStorage_FBPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="Set_FBStorage_FBSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="Set_CSV_Separator" serializeAs="String">
        <value/>
      </setting>
    </DashboardDesigner.Properties.Settings>
  </userSettings>
</configuration>
